html {
    padding: 0;
    margin: 0;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body, #game-layer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls-c {
    opacity: 0.5;
    position: fixed;
    bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.controls {
    width: 100%;
    max-width: 15cm;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: min-content 1fr min-content;
    justify-items: center;
}

.inventory {
    color: white;
}

.btn {
    background: lightgray !important;
    color: white;
    width: 2cm;
    height: 2cm;
}

#fR {
    grid-area: 1/3;
}

#fL {
    grid-area: 1/1;
}

#bR {
    grid-area: 2/3;
}

#iS {
    grid-area: 2/2;
    width: 100%;
    height: 2cm;
}

#bL {
    grid-area: 2/1;
}

#game-score {
    color: white;
    font-size: 25px;
}
